<h1>Create Challenge</h1>

<%= form_for :challenge, url: challenges_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
    <% p params %>
  </p>
<% end %>

<h1>All Challenges:</h1>

<% @challenges.each do |challenge| %>
	<h3><%= challenge.title %></h3>
	<p><%= challenge.description %></p>
	<ul>
	</ul>
<% end %>
