<div class="center">

<div class="border">

<h1>youChallenge</h1>

<h2>Create Challenge</h2>

<%= form_for :challenge, url: challenges_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
    <% p params %>
  </p>
<% end %>

</div>

<div class="border">


<h2>All Challenges</h2>



<% @challenges.each do |challenge| %>

<div class="challenge border">

	<h3><%= challenge.title %></h3>
	<p><%= challenge.description %></p>
	<p> Posted By: <%= User.find(challenge.proposer_id).name %></p>

	<div class="supporters border">

	<p><a href="#">Support</a></p>

	</div>

	<div class="comments-list border">

		<% challenge.comments.each do |comment| %>
			<p><%= comment.text %></p>
			<p><b><%= User.find(comment.user_id).name %></b></p>
		<% end %>
		

	</div>

	<div class="new-comment border">
	<%= form_for [challenge, challenge.comments.build], url: challenge_comments_path(challenge) do |f| %>
		<%= f.label "New COMMENT" %><br>
		<%= f.text_area :text %><br>
		<%= f.submit %>

	<% end %>
	</div>

</div>

<% end %>



</div>