
<% if current_user %>
<div class="panel panel-default">

<legend>Create Challenge</legend>

<%= form_for :challenge, url: challenges_path, :html =>{:class => 'form-horizontal'} do |f| %>

	<p>
    <%= f.text_area :description, :class =>'u-full-width', :placeholder => 'I challenge @Kailash to do 100 pushups!' %>
  </p>
<div class="row">
  <div class="eight columns send_challenge"> 
  	Send Challenge To:   <%= collection_select(:challenge, :victim, User.all, :id, :name, prompt: true) %>
  </div>
  <div class="four columns">
    <%= f.submit 'submit', :class => 'btn btn-primary btn-lg submit-btn' %>
  </div>
</div>
<% end %>

</div>

<% end %>

<div class="panel panel-default">
  <div class="panel-heading">Filter Challenges</div>
  <div class="panel-body center">
    <a href="#" class="btn btn-default">All</a>
    <a href="#" class="btn btn-info">Open</a>
		<a href="#" class="btn btn-primary">Accepted</a>
		<a href="#" class="btn btn-danger">Rejected</a>
		<a href="#" class="btn btn-success">Completed</a>
		<a href="#" class="btn btn-warning">Failed</a>
  </div>
</div>

<% @challenges.reverse.each do |challenge| %>

<% if challenge.status == "not accepted" %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Open Challenge</h3>
  </div>

<% elsif challenge.status == "Accepted" %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Accepted Challenge</h3>
  </div>
<% elsif challenge.status == "Rejected" %>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Rejected Challenge</h3>
  </div>
<% elsif challenge.status == "Completed" %>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Completed Challenge</h3>
  </div>
<% elsif challenge.status == "Failed" %>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Failed Challenge</h3>
  </div>
<% end %>

  <div class="panel-body">
    


<div class="challenge">

	<!-- <h3><%= challenge.title %></h3> -->
	<h2><%= challenge.description %></h2>

<div class="rows">
	
	<p> Posted By: <%= User.find(challenge.proposer_id).name %></p>
	<% if challenge.victim_id %>
	<p> Challenge For: <%= User.find(challenge.victim_id).name %></p>
	<% end %>

<div class= "panel panel-default">
	<p> Challenge Status: <%= challenge.status %></p>

	<% if challenge.victim_id && current_user == User.find(challenge.victim_id) %>

		<% if challenge.status == "not accepted" %>

			<p>This is a Challenge for you! Do You Accept?</p>
			<div class="btn-group btn-group-justified">
		  		<a href="/challenges/<%=challenge.id%>/accept" class="btn btn-success">Accept</a>
		  		<a href="/challenges/<%=challenge.id%>/reject" class="btn btn-primary">Decline</a>
			</div>
			
		<% elsif challenge.status == "Accepted six columns" %>

			<p>You've Accepted this challenge! Have you completed it? </p>
			<div class="btn-group btn-group-justified">
		  		<a href="/challenges/<%=challenge.id%>/complete" class="btn btn-success">I did it!</a>
		  		<a href="/challenges/<%=challenge.id%>/failed" class="btn btn-primary">I couldn't do it</a>
			</div>

		<% end %>

	<% elsif current_user && challenge.victim_id == nil && challenge.status == "not accepted" %>

			<p>This is an open challenge! Do you want to take this on?</p>
			<div class="btn-group btn-group-justified">
		  		<a href="/challenges/<%=challenge.id%>/accept" class="btn btn-success">Accept</a>
		  		<a href="/challenges/<%=challenge.id%>/reject" class="btn btn-primary">Decline</a>
			</div>

	<% end %>


	<div class="supporters panel panel-default">

		<form action="/challenges/<%=challenge.id%>/supporters" method="post">
			<% if current_user %>
			<input type="submit" value="Support this challenge!">
			<% end %>
		</form> 
			<b><%= challenge.supporters.count %> Supporters:</b>
			<% challenge.supporters.each do |supp| %>
		<%= User.find(supp.user_id).name %>,
		<% end %>
	

	</div>


	<div class="comments-list panel panel-default">

		<% challenge.comments.each do |comment| %>
			<p><%= comment.text %></p>
			<p>Posted by: <b><%= User.find(comment.user_id).name %></b></p>
		<% end %>
		

	</div>
	<% if current_user %>
	<div class="new-comment panel panel-default">
	<%= form_for [challenge, challenge.comments.build], url: challenge_comments_path(challenge) do |f| %>
		<%= f.label "New COMMENT" %><br>
		<%= f.text_area :text, :class => 'u-full-width' %><br>
		<%= f.submit %>
	<% end %>
	</div>

	<% end %>

</div>

  </div>
</div>
</div>
</div>

<% end %>


